html, body {
    width: 100vw;
    height: 100vh;

    margin: 0;
}

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

.background {
    width: 100%;
    height: 100%;

    position: absolute;
    z-index: -1;

    object-fit: cover;

    filter: grayscale(100%);
}

.container {
    width: 100%;
    height: 100%;

    margin: 0;

    background: rgba(0, 0, 0, 0);

    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes echo {
    0% { outline: 1px solid rgba(255, 255, 255, 0); outline-offset: 0px; }
    25% { outline: 1px solid rgba(255, 255, 255, 0.5); outline-offset: 2px; }
    50% { outline: 1px solid rgba(255, 255, 255, 1); outline-offset: 4px; }
    75% { outline: 1px solid rgba(255, 255, 255, 0.5); outline-offset: 6px; }
    100% { outline: 1px solid rgba(255, 255, 255, 0); outline-offset: 8px; }
}

button {
    width: 6vw;
    height: 6vw;

    margin-left: 3vw;

    border: none;
    background: none;

    color: white;
    border: 1px solid rgba(1, 1, 1, 0);
    border-radius: 50%;
    -moz-outline-radius: 50%;

    background: rgba(0, 0, 0, 0.5);
}

button:first-child {
    margin-left: 0;
}

.btn-animate {
    animation-name: echo;
    animation-duration: 0.25s;
    animation-iteration-count: 1;
}